<div class="ngtos_window_switch">
    <form id="vrveth_form">
    <div class="ngtos_window_tab">
        <a href="###" onClick="page_show('edit_page', 'basic');"><div class="ngtos_window_tab_on" id="basicStyle"><b>{$Think.lang.BASIC_INFO}</b></div></a>
    </div>
    <div class="ngtos_window_content" style="height:370px;">
        <div class="basic_table">
            <table class="ngtos_form_pop">
                <!--<tr style="border-bottom:1px solid #ccc"><td><b>{$Think.lang.BASIC_INFO}</b></td></tr>-->
                <tr>
                    <td class="tdlabel_net">{$Think.lang.NAME}</td>
                    <td>
                        <span id="interface_name_cid"></span>
                        <input type="hidden" id="interface_value_cid"/>
                    </td>
                </tr>
                <tr>
                    <td class="tdlabel_net">{$Think.lang.DESCRIPTION}</td>
                    <td>
                        <input type="text" id="description_cid" class='easyui-textbox' style="width:300px;"/>
                        <input type="hidden" id="description_old"/>
                    </td>
                </tr>                      
            </table>
            <table>
                <tr>
                    <td class="window_subtitle"><b>{$Think.lang.ROUTE_MODE}</b></td>
                </tr>
                <tr>
                    <td>
                        <div class="easyui-tabs" id="easytabs" data-options="plain:true,border:false" style="width:530px;height:245px;">
                         <div title="IPv4">
                                <table class="ngtos_form_table padding_ip">
                                    <tr>
                                        <td>
                                            <label for="ip4_cid">{$Think.lang.ADDRESS}</label>
                                        </td>
                                        <td>
                                            <input type="text" id="ip4_cid" class='easyui-textbox' data-options="validType:'ipFour'" style="width: 130px;"/>
                                        </td>
                                        <td>
                                            <label for="mask4_cid">{$Think.lang.MASK}</label>
                                        </td>
                                        <td>
                                            <input type="text" id="mask4_cid" class='easyui-textbox' data-options="validType:'mask'" style="width: 110px;"/>
                                        </td>
                                        <td>
                                            <label for="ha4_cid">{$Think.lang.ASYNC_ADDR}</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="ha4_cid"/>
                                        </td>
                                        <td>
                                            <input type="button" id="add4_cid" title="" value="{$Think.lang.ADD}" class="ngtos_button_small" onclick="addIpv4();"/>
                                        </td>
                                    </tr>
                                </table>
                                <table id="ip4_list_cid"></table>
                                <input id="ip4addr_items_old" type="hidden"/>
                            </div>
                            <div title="IPv6">
                                <table class="ngtos_form_table padding_ip">
                                    <tr>
                                        <td>
                                            <label for="ip6_cid">{$Think.lang.ADDRESS}</label>
                                        </td>
                                        <td>
                                            <input type="text" id="ip6_cid" class='easyui-textbox' data-options="validType:'ipSixPrefix'" style="width: 275px;"/>
                                        </td>
                                        <td>
                                            <label for="ha6_cid">{$Think.lang.ASYNC_ADDR}</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="ha6_cid"/>
                                        </td>
                                        <td>
                                            <input type="button" id="add6_cid" title="" value="{$Think.lang.ADD}" class="ngtos_button_small" onclick="addIpv6();"/>
                                        </td>
                                    </tr>
                                </table>
                                <table id="ip6_list_cid"></table>
                                <input id="ip6addr_items_old" type="hidden"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>                   
        </div>
    </div>
    <div class="window_foot_btn">
        <input type="button" class="ngtos_button_middle confirmenable" value="{$Think.lang.CONFIRM}" onClick="edit_vveth_submit()">
        <input type="button" class="ngtos_button_middle" value="{$Think.lang.CANCEL}" onClick="closeWindow('edit_page')">
    </div>
        </form>
</div>
<script>
    $(function() {
        edit_vveth_row_init(param[0], param[1], param[2], param[3])
    });
</script>