<div>
<form id="tagvif_form">
    <table class="ngtos_form_table">
        <tr>
            <td class="tdlabel">{$Think.lang.INTERFACE}</td>
            <td>
                <select name="interface" id="interface_cid_pop" class="combobox_len"></select>
            </td>
        </tr>
        <tr>
            <td class="tdlabel">
                <input type="radio" name="type" id="single_cid" checked="checked" onClick="change('single_cid')">
                <label for="single_cid">{$Think.lang.ADD_SINGLE_SUBIF}</label>
            </td>
            <td>
                <input type="text" name="id" id="id_cid" class='input_length'><span class="form_comment">[1-4094]</span>
            </td>
        </tr>
        <tr>
            <td class="tdlabel">
                <input type="radio" name="type" id="range_cid" onClick="change('range_cid')">
                <label for="range_cid">{$Think.lang.ADD_SUBIF_RANGE}</label>
            </td>
            <td>
                <input type="text" name="range_start" id="range_start_cid">&nbsp;-
                <input type="text" name="range_end" id="range_end_cid"><span class="form_comment">[1-4094]</span>
            </td>
        </tr>
    </table>
    <div class="window_foot_btn">
        <input type="button" class="ngtos_button_middle confirmenable" value="{$Think.lang.CONFIRM}" onClick="addTagvifSubmit();">
        <input type="button" class="ngtos_button_middle" value="{$Think.lang.CANCEL}" onClick="closeWindow('add_page')">
    </div>
</form>
</div>
<script>
    $(function() {
        //获取所有物理接口
        $("#interface_cid_pop").combobox({
            url: '?c=Network/Macvif&a=comboBox',
            queryParams:{
                parKey:'__NA__',
                param:'eth-no-mnp',
                mod:'network interfaces',
                select:'true',
                textKey:'dev'
            },
            valueField:'dev',
            textField:'dev',
            panelHeight: 'auto',
            panelMaxHeight: 198,
            multiple:false,
            editable:true
        });
        $('#id_cid').textbox({
            required:true,
            validType:'range[1,4094]'
        });
        $('#range_start_cid').textbox({
            width:107,
            required:true,
            validType:['range[1,4094]', 'lessEquals[$(\'#range_end_cid\').val()]']
        });
        $('#range_end_cid').textbox({
            width:107,
            required:true,
            validType:['range[1,4094]', 'greaterEquals[$(\'#range_start_cid\').val()]']
        });
        change("single_cid");
    });
</script>