<form id="vlan_add">
    <table class="ngtos_form_table">
        <tr>
            <td class="tdlabel">
                <input type="radio" name="type" id="single_cid" checked="checked" onClick="vlanChange('single_cid')" class="radio_txt_middle">
                <label for="single_cid">{$Think.lang.ADD_SINGLE_VLAN}</label>
            </td>
            <td>
                <input type="text" id="id_cid" name="id" class="easyui-textbox input_length"><span class="form_comment">[1-4094]</span>
            </td>
        </tr>
        <tr>	
            <td class="tdlabel">
                <input type="radio" name="type" id="range_cid" onClick="vlanChange('range_cid')" class="radio_txt_middle">
                <label for="range_cid">{$Think.lang.ADD_VLAN_RANGE}</label>
            </td>
            <td>
                <input type="text" name="range_start" id="range_start_cid" class="easyui-textbox" style="width:107.5px;">&nbsp;-
                <input type="text" name="range_end" id="range_end_cid" class="easyui-textbox" style="width:107.5px;">&nbsp;{$Think.lang.SINGLE_MAXIMUM_ADD}
            </td>
        </tr>				
    </table>
    </form>      
    <div class="window_foot_btn">
        <input type="button" class="ngtos_button_middle confirmenable" value="{$Think.lang.CONFIRM}" onClick="addVlanSubmit();">
        <input type="button" class="ngtos_button_middle" value="{$Think.lang.CANCEL}" onClick="closeWindow('add_page')">
    </div>  		

<script>
    $(function() {
        //如果开启虚系统，需要显示所有vr
      //  addVlanRowInit("single_td", "vr", "vr_cid");
        $('#id_cid').textbox({
            required: true,
            validType: 'range[1,4094]'
        });
        
        $('#range_start_cid').textbox({
            required: true,
            validType: ['range[1,4094]', 'lessEquals[$(\'#range_end_cid\').val()]']
        });

        $('#range_end_cid').textbox({
            required: true,
            validType: ['range[1,4094]', 'greaterEquals[$(\'#range_start_cid\').val()]']
        });
        vlanChange("single_cid");
    });
</script>