<div>
    <table class="ngtos_form_table">
        <tr>
            <td class="tdlabel_net">{$Think.lang.PASSWORD}</td>
            <td>
                <input type="password" size="20" name="passwordClient" id="passwordClient" class="easyui-textbox input_length" data-options="validType:['maxLength[10]']">
            </td>
        </tr>
    </table>
    <div class="window_foot_btn">
        <input type="button" class="ngtos_button_middle confirmenable" value="{$Think.lang.CONFIRM}" id="savePassword">
        <input type="button"  class="ngtos_button_middle" value="{$Think.lang.CANCEL}" onClick="closeWindow('saveClientPage')">
    </div>
</div>
<script>
    $(function() {
        $("#savePassword").unbind("click");
        $("#savePassword").click(function () {
            exportCertificateFile();
        });
    });

    function exportCertificateFile(){
        var form=$('<form>');//定义一个form表单
        form.attr('style','display:none');
        form.attr('target','');
        form.attr('method','post');
        form.attr('action','?c=System/Parameters&a=saveClientPassword');

        var input1=$('<input>');
        input1.attr('type','hidden');
        input1.attr('name','passwordClient');
        input1.attr('value',$("#passwordClient").val());

        $('body').append(form);//将表单放置在web中
        form.append(input1);
        form.submit();//表单提交
        form.remove();
        closeWindow('saveClientPage');
    }
</script>