<!DOCTYPE html>
<html>
    <head>
        <title>{$Think.lang.TOPSEC}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <link rel='shortcut icon' href='{$Think.config.NG_PATH}Public/images/image/favicon.ico' />
        <link rel="stylesheet" type="text/css" href="{$Think.config.NG_PATH}Public/plugins/easyui/themes/metro-gray/easyui.css" />
        <link rel="stylesheet" type="text/css" href="{$Think.config.NG_PATH}Public/plugins/easyui/themes/icon.css" />
        <link rel="stylesheet" type="text/css" href="{$Think.config.NG_PATH}Public/css/style.css"/>        
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/lang/{$Think.LANG_SET}.js" ></script>
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/plugins/jquery-1.11.2.min.js" ></script>
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/plugins/jquery.cookie.js"></script>
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/plugins/easyui/jquery.easyui.all.js" ></script>        
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/plugins/easyui/locale/easyui-lang-{$Think.LANG_SET}.js" ></script>
        <script type="text/javascript" src="{$Think.config.NG_PATH}Public/js/function.js" ></script>
    </head>
    <body>
        <div id="topdiv">
            <div>
                <img src='{$Think.config.NG_PATH}Public/images/image/logo.png' id='topdiv_logo'/>                
                <div class='white rightuser'>
                    {$Think.lang.user}：<span id='user'></span>
                </div>
            </div>
            <div class='topdiv_btn'>
                <div class="rightbtn">                    
                    <a href="javascript:void(0);" onMouseOut="MM_swapImgRestore()"
                       onMouseOver="MM_swapImage('quitImage', '', '{$Think.config.NG_PATH}/Public/images/image/quit2.png', 1)" onClick="prepareLogout();">
                        <img src="{$Think.config.NG_PATH}Public/images/image/quit1.png" name="quitImage" border="0" id="quitImage"
                             style="vertical-align:middle;" title="退出系统"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="ngtos_form_no">
            <form id="passord_form">
                <table class="ngtos_form_table">
                    <tr>
                        <!--<th rowspan="5"><img src="./Public/images/image/alert.png" width="90" height="90" /></th>-->
                        <th colspan="2">为了保护您的系统安全，强烈建议您修改密码：</th>
                    </tr>
                    <tr>
                        <td class="tdlabel">{$Think.lang.USERNAME}</td>
                        <td>
                            <span id='username_show'></span>
                            <input type="hidden" id="username" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdlabel">{$Think.lang.NEW_PWD}</td>
                        <td> 
                            <input type="password" id="new_password" name="new_password" class="easyui-textbox input_length"/>
                            <span class="form_comment">
                                <if condition="$complexity eq 'high'">
                                    <img src="{$Think.config.NG_PATH}Public/images/icon/icon_warm.png" title='{$Think.lang.PWD_STRENGTH_DESC_HIGH}' style="cursor: pointer;vertical-align:middle"/>
                                </if>
                                <if condition="$complexity eq 'medium'">
                                    <img src="{$Think.config.NG_PATH}Public/images/icon/icon_warm.png" title='{$Think.lang.PWD_STRENGTH_DESC_MEDIUM}' style="cursor: pointer;vertical-align:middle"/>
                                </if>
                                <if condition="$complexity eq 'low'">
                                    <img src="{$Think.config.NG_PATH}Public/images/icon/icon_warm.png" title='{$Think.lang.PWD_STRENGTH_DESC_LOW}' style="cursor: pointer;vertical-align:middle"/>
                                </if>                                
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdlabel">{$Think.lang.NEW_PWD2}</td>
                        <td><input type="password" id="new_password_again" name="new_password_again" class="easyui-textbox input_length" data-options="required:true,validType:'equals[\'#new_password\']'" /></td>
                    </tr>
                    <tr>
                        <td class="tdlabel"></td>
                        <td>
                            <div class="btn_config">
                                <input type="button" value="{$Think.lang.APPLY}" class="ngtos_button_large confirmenable" onClick="myChangePasswordSubmit();"/>
                            </div>
                            <!--<input type="button" value="下次再说" class="ngtos_button_large" onClick="myChangePasswordSkip();"/>-->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <SCRIPT LANGUAGE="JavaScript">
//            var privilege = {$privilege};

            //显示后台是否有错误
            var error = '{$error}';
            var complexity = '{$complexity}';
            var msg = '';
            $(function() {
                var name = $.cookie('username');
                if (isEmpty(name)) {
                    //如果cookie未保存用户名，从后台获取
                    name = getAdminName();
                    if (isEmpty(name)) {
                        window.location.href = "?c=Index&a=index";
                    } else {
                        $.cookie('username', name, {secure: true});
                    }
                }

                //表单中用户名赋值
                $('#username_show').html(name);
                $('#username').val(name);
                //如果字符串长度大于10，截取前7
                if (getStrLength(name) > 10) {
                    var subname = name.substr(0, 7) + "...";
                    //Logo处用户赋值
                    $('#user').html(subname);
                } else {
                    $('#user').html(name);
                }


                if (error != '') {
                    ngtosPopMessager("error", error);
                    window.location.href = "?c=Index&a=index";
                    return;
                }

                $("#new_password").focus();


                document.onkeydown = function(event) {
                    event = event ? event : window.event;
                    if (event.keyCode == 13) {
                        myChangePasswordSubmit();
                    }
                };
                switch (complexity) {
                    case 'high':
                        msg = $LANG.PWD_STRENGTH_DESC_HIGH;
                        $('#new_password').textbox({
                            required: true,
                            validType: ['pwd_complexity[\'high\']']
                        });
                        break;
                    case 'medium':
                        msg = $LANG.PWD_STRENGTH_DESC_MEDIUM;
                        $('#new_password').textbox({
                            required: true,
                            validType: ['pwd_complexity[\'medium\']']
                        });
                        break;
                    case 'low':
                        msg = $LANG.PWD_STRENGTH_DESC_LOW;
                        $('#new_password').textbox({
                            required: true,
                            validType: ['pwd_complexity[\'low\']']
                        });
                        break;
                    default:
                        ngtosPopMessager("error", $LANG.INVALID_PWD_STRENGTH);
                        break;
                }


                $.extend($.fn.validatebox.defaults.rules, {
                    pwd_complexity: {
                        validator: function(value, param) {
                            if ('high' == param[0]) {
                                var len = (value.length >= 16);
                                var incM = /[A-Z]+/.test(value);
                                var incL = /[a-z]+/.test(value);
                                var incN = /[0-9]+/.test(value);
                                var incS = /[!@#$%^&*-+_=]+/.test(value);
                                var incU = value.indexOf(name) < 0;
                                return len && incM && incL && incN && incS && incU;
                            } else if ('medium' == param[0]) {
                                var len = (value.length >= 12);
                                var incM = /[A-Z]+/.test(value);
                                var incL = /[a-z]+/.test(value);
                                var incN = /[0-9]+/.test(value);
                                return len && incM && incL && incN;
                            } else if ('low' == param[0]) {
                                var len = (value.length >= 8);
                                return len;
                            }
                        },
                        message: msg
                    }
                });
            });
            function myChangePasswordSubmit() {
                if ($("#username").val() == '') {
//                    alert("用户名不能为空!");
                    window.location.href = "?c=Index&a=index";
                    return;
                }

//                var password = $("#new_password_cid").val();
//                var password_again = $("#new_password_again_cid").val();
//
//                if (password == '') {
//                    alert("密码不能为空!");
//                    return;
//                }
//                if (password != password_again) {
//                    alert("密码不一致！");
//                    return;
//                }

                var isValid = $('#passord_form').form('validate');
                if (isValid) {
                    $.ajax({
                        url: "?c=Index&a=change_password&random=" + Math.random(),
                        type: 'POST',
                        data: {
                            name: $("#username").val(),
                            password: $("#new_password").val()
                        },
                        async: false,
                        success: function(data) {
                            if (data == 0) {
                                window.location.href = "?c=Index&a=home";
//                            if (privilege == 1) {
//                                window.location.href = "?module=main";
//                            } else {
//                                window.location.href = "?module=home";
//                            }
                            } else {
                                ngtosPopMessager("error", data);
                            }
                        },
                        fail: function() {
                            ngtosPopMessager("error", $LANG.MODIFY_PWD_FAIL);
                        }
                    });
                }
            }

            function myChangePasswordSkip() {
                window.location.href = "?c=Index&a=home";
//                if (privilege == 1) {
//                    window.location.href = "?module=main";
//                } else {
//                    window.location.href = "?module=home";
//                }
            }

        </SCRIPT>
    </body>
</html>