<include file='Index:main'/>
<link rel="stylesheet" href="{$Think.config.NG_PATH}Public/css/yngtos/policy/policy_nat.css"
      type="text/css"/>
<script src="{$Think.config.NG_PATH}Public/modules/auth/footer.js"></script>
<style>
    .datagrid{padding-top:0;}
    .datagrid-toolbar a{margin:0;}
</style>
<script src="{$Think.config.NG_PATH}Public/modules/network/common.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/arp.js"></script>
<div id="easyui_tab" class="easyui-tabs" data-options="fit:true,border:false">
    <table id="tt"></table>
</div>
<div id="tb" style="height:auto">
    <a href="###" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="icon_add" onClick="addArpRow()" >{$Think.lang.ADD}</a>
    <a href="###" class="easyui-linkbutton" iconCls="icon-delete" plain="true" id="icon_delete" onClick="deleteArpRow()" >{$Think.lang.DELETE}</a>
    <a href="###" class="easyui-linkbutton" iconCls="icon-clear" plain="true" id="icon_clear" onClick="clearArpRow()" >{$Think.lang.CLEAR}</a>
    <a href="###" class="easyui-linkbutton" iconCls="icon-search" plain="true" id="icon_search" onClick="searchArpRow();">{$Think.lang.QUERY}</a>
</div>
</div>
</div>
</body>
</html>
<script>
/*    var switch_tag = "{$switch}";*/
    $(function() {
        $('#tt').datagrid({
            fit: true,
            fitColumns: true,
            striped: true,
            border: false,
            rownumbers: true,
            remoteSort: false,
            sortName: 'ip',
            url: '?c=Network/Arp&vr=all',
            frozenColumns: [[
                {field: 'ck', checkbox: true}
            ]],
            columns: [[
                    {field: 'ip', title: $LANG.IP_ADDR, width: 100, sortable: true},
                    {field: 'mac', title: $LANG.MAC_ADDR, width: 200},
                    {field: 'dev', title: $LANG.INTERFACE, width: 80, sortable: true},
                    {field: 'state', title: $LANG.STATE, width: 60, align: 'center'}
                ]],
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            loadMsg: $LANG.WAITING,
            onClickRow: set_arp_toolbar,
            onCheck: set_arp_toolbar,
            onUncheck: set_arp_toolbar,
            onCheckAll: set_arp_toolbar,
            onUncheckAll: set_arp_toolbar,
            onSelect: set_arp_toolbar,
            onUnselect: set_arp_toolbar,
            onLoadSuccess: set_arp_toolbar,
            onLoadError: function(data) {
                alert('error' + data['responseText']);
            }
        });
        if (getPrivilege("network") == false) {
            $('#icon_add').linkbutton('disable');
            $('#icon_clear').linkbutton('disable');
        }
    });
</script>