<include file='Index:main'/>
<link rel="stylesheet" href="{$Think.config.NG_PATH}Public/css/yngtos/network/dhcpserver.css"
      type="text/css"/>
<script src="{$Think.config.NG_PATH}Public/modules/auth/footer.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/dhcp.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/common.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/physics.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/vlan.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/network/macvif.js"></script>
    <ul id="ipv" class="resp-tabs-list hor_1"> 
        <if condition="$server eq '1'">
        <a href="?c=Network/DhcpServer&a=serverinfo">
            <li>
                DHCP{$Think.lang.SERVER_SIDE}
            </li>
        </a>
        </if>
        <if condition="$client eq '1'">
        <a href="?c=Network/DhcpServer&a=serverinfo&tab=4">
            <li>
                DHCP{$Think.lang.CLIENT}
            </li>
        </a>
        </if>
        <if condition="$relay eq '1'">
        <a href="?c=Network/DhcpServer&a=serverinfo&tab=5">
            <li id="ipv_4">
                DHCP{$Think.lang.RELAY}
            </li>
        </a>
        </if>
    </ul>
        <if condition="$relay eq '1'">
        <div style="float: left;margin: 10px;">
            <fieldset style="padding: 15px;width: 365px;height: 330px;">
                <legend>&nbsp;&nbsp;{$Think.lang.IF_CONFIG}&nbsp;&nbsp;</legend>
                <div class="select_div">
                    <div class="select_ldiv">
                        <div class="select_ldiv_bottom border_bottom0">
                            <span class="lineHeight26">{$Think.lang.SELECT_A_INTERFACE}</span>
                        </div>
                        <select class="select middle2 height12" id="service_item_cid" multiple ondblclick="move_options('service_item_cid', 'd_service_item_cid', '1');" style='height:150px'></select>
                        <div class="select_ldiv_bottom border_top0">
                            <a class="lineHeight26 cursorPoint" onclick="editInterface('service_item_cid');">{$Think.lang.EDIT_INTERFACE}</a>
                        </div>
                    </div>
                    <div class="select_cdiv">
                        <input type="button" onClick="move_options('service_item_cid', 'd_service_item_cid', '1');" value=" > "><br>
                        <input type="button" onClick="move_options('d_service_item_cid', 'service_item_cid', '0');" value=" < ">
                    </div>
                    <div class="select_rdiv">
                        <div class="select_ldiv_bottom border_bottom0">
                            <span class="lineHeight26">{$Think.lang.SELECTED_IF}</span>
                        </div>
                        <select class="select middle2 height12" id="d_service_item_cid" name="service_item[]" multiple ondblclick="move_options('d_service_item_cid', 'service_item_cid', '0');" style='height:150px'></select>
                        <div class="select_ldiv_bottom border_top0">
                            <a class="lineHeight26 cursorPoint" onclick="clearAllOption('service_item_cid', 'd_service_item_cid');">{$Think.lang.CLEAR_ALL}</a>
                        </div>
                    </div>
                </div>
                <span>
                    {$Think.lang.SERVER_ADDR}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type='text' id='server_addrNew' name='server_addrNew' value=''>
                </span>
            </fieldset>
        </div>
        <div style="float: left;margin-top: 15px;">
            <input type="button" class="ngtos_button_small" data-options="plain:true" onClick="dhcp_start()" id="btn_start" value="{$Think.lang.START}"/>
            <br/>
            <input type="button" class="ngtos_button_small" data-options="plain:true" onClick="dhcp_stop()" id="btn_stop" value="{$Think.lang.STOP}" />
        </div>
    </if>
<div id='edit_page' style="width:630px; display:none;"></div>
<!--<div id='attr_page' style="width:600px; display:none;"></div>-->
<script language='javascript'>
    // var client = "{$client}";
    // var server = "{$server}";
    // var relay = "{$relay}";
    // $('#easyui_tab').tabs({
    //     selected: ((client == 0 ) && (server == 0))?0:(((client == 0 )|| (server == 0))?1:2),
    //     border: false,
    //     onSelect: function(title, index) {
    //         if (relay == 1 && server == 0 && client == 0) {
    //         } else {
    //             if (index == 0 ) {   //点击tab标签跳转的页面
    //                 location.href = '?c=Network/DhcpServer&a=serverInfo';
    //             }else if (index == 1 && client == 1 && server == 1 && relay == 1 ) {
    //                  location.href = '?c=Network/DhcpServer&a=serverInfo&tab=4';
    //             } else if (index == 1 && client == 1 && server == 1 ) {
    //                 location.href = '?c=Network/DhcpServer&a=serverInfo&tab=5';
    //             } 
    //         }
    //     }
    // });
    $(function() {
        parent.sourOptions = [];
        parent.selOptions = [];
        param = [];
        $("#d_service_item_cid").html("");
        $.getJSON(
                "?c=Network/DhcpRelay&a=callFun&fun=dataShow&mod="+encodeURI('network dhcp_relay_wait'),
                function(data) {
                    var options = "";
                    if (data) {
                        $(data.rows).each(function(key, value) {
                            if (value.interface != "" && value.interface != null) {
                                var msg_interface = value.interface;
                                var msg_arr = new Array();
                                msg_arr = msg_interface.split(" ");
                                for (i = 0; i < msg_arr.length; i++) {
                                    if (msg_arr[i].length != 0) {
                                        options += "<option value='" + msg_interface + "' title='" + msg_interface + "'>" + msg_interface + "</option>";
                                    }
                                }
                            }
                            $('#service_item_cid').html(options);
                        })
                    }
                });

        $.getJSON(
                "?c=Network/DhcpRelay&a=callFun&fun=dataShow&mod="+encodeURI('network dhcp dhcp_relay_start'),
                function(data) {
                    var options1 = "";
                    if (data) {
                        $(data.rows).each(function(key, value) {
                            if (value.interface != "" && value.interface != null) {
                                var msg_interface1 = value.interface;
                                var msg_arr1 = new Array();
                                msg_arr1 = msg_interface1.split(" ");
                                for (j = 0; j < msg_arr1.length; j++) {
                                    if (msg_arr1[j].length != 0) {
                                        options1 += "<option value='" + msg_interface1 + "' title='" + msg_interface1 + "'>" + msg_interface1 + "</option>";
                                    }
                                }
                            }
                            $('#d_service_item_cid').html(options1);
                        })

                        //处理开始 停止的按钮可用不可用
                        $("#btn_start").attr("disabled", "true");
                        $("#btn_stop").removeAttr("disabled");
                        var btn_sel = $("#d_service_item_cid").text();
                        if (btn_sel.length == 0) {
                            $("#btn_stop").attr("disabled", "true");
                            $("#btn_start").removeAttr("disabled");
                        }
                    }
                });

        //服务地地址
        $.getJSON(
                "?c=Network/DhcpRelay&a=callFun&fun=dataShow&mod="+encodeURI('network dhcp dhcrelay_ip'),
                function(data) {
                    var options = "";
                    if (data) {
                        $(data.rows).each(function(key, value) {
                            $("#server_addrNew").val(value.ipaddr);
                        })
                        //处理开始 停止的按钮可用不可用
                        $("#btn_start").attr("disabled", "true");
                        $("#btn_stop").removeAttr("disabled");
                        var btn_sel = $("#d_service_item_cid").text();
                        if (btn_sel.length == 0) {
                            $("#btn_stop").attr("disabled", "true");
                            $("#btn_start").removeAttr("disabled");
                        }
                    }
                });
                if (getPrivilege("network") == false) {

                    $('#btn_start').attr('disabled',true);
                    $('#btn_stop').attr('disabled',true);
                }
    });

//运行接口开始
    function dhcp_start() {
        var msg = get_select_value('d_service_item_cid');
        msg = msg.replace(" ", ","); 
        if (msg == '') {
            ngtosPopMessager("info", $LANG.PLEASE_SELECT_INTERFACE);
            return false;
        }
        var server_msg = $("#server_addrNew").val();
        if (server_msg == '') {
            ngtosPopMessager("info", $LANG.PLEASE_ENTER_THE_SERVER_ADDRESS);
            return false;
        }
        $.ajax({
            url: "?c=Network/DhcpRelay&a=doDhcpStart",
            type: 'POST',
            datatype: 'text',
            data: {
                msg: msg,
                server_msg: server_msg
            },
            success: function(data) {
                if (data == "0") {
                    //处理开始 停止的按钮可用不可用
                    $("#btn_start").attr("disabled", "true");
                    $("#btn_stop").removeAttr("disabled");
                    window.location.reload();
                } else {
                    ngtosPopMessager("error", data);
                }
            }
        });
    }

    function dhcp_stop() {
        $.ajax({
            url: "?c=Network/DhcpRelay&a=callFun",
            type: 'POST',
            datatype: 'text',
            data: {
                mod:'network dhcp relay',
                act:'stop',
                fun:'simpleHandle'
            },
            success: function(data) {
                if (data == "0") {
                    //处理开始 停止的按钮可用不可用
                    $("#btn_start").attr("disabled", "true");
                    $("#btn_stop").removeAttr("disabled");
                    window.location.reload();
                } else {
                    ngtosPopMessager("error", data);
                }
            }
        });
    }
</script>
</div>
</div>
</body>
</html>