<include file="Index:main"/>
<link rel="stylesheet" href="{$Think.config.NG_PATH}Public/css/yngtos/resource/address_info.css"
      type="text/css"/>
<style>
    .datagrid-toolbar > table{margin-top:0px;}
    .datagrid-toolbar > table td{border-right:none;}
</style>
<script src="{$Think.config.NG_PATH}Public/modules/resource/schedule.js"></script>
<script src="{$Think.config.NG_PATH}Public/modules/auth/footer.js"></script>
<ul id="ipv" class="resp-tabs-list hor_1"> 
    <a href="?c=Resource/Time&a=time_info&tabs=loop">
        <li>
            {$Think.lang.CIRCULATE_TIME}
        </li>
    </a>
    <a href="?c=Resource/Time&a=time_info&tabs=sig">
        <li id="ipv_4">
            {$Think.lang.SINGLE_TIME}
        </li>
    </a>
    <a href="?c=Resource/Time&a=time_info&tabs=group">
        <li>
            {$Think.lang.TIME_GROUP}
        </li>
    </a>
</ul>
<table id="tt"></table>
<div id="dlg-toolbar" style="padding:2px 0">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td style="padding-left:2px">
                <a href="#" class="easyui-linkbutton" id="icon_add" data-options="iconCls:'icon-add',plain:true" onClick="add_sig_time('{$Think.lang.ADD}')">{$Think.lang.ADD}</a>
                <a href="#" class="easyui-linkbutton" id='icon_edit' iconCls="icon-edit" plain="true" onClick="editSigTimeRow('{$Think.lang.EDIT}');">{$Think.lang.EDIT}</a>
                <a href="#" class="easyui-linkbutton" id='icon_del' data-options="iconCls:'icon-delete',plain:true" onClick="delete_sig_item()">{$Think.lang.DELETE}</a>
                <a href="#" class="easyui-linkbutton" id="icon_clear" data-options="iconCls:'icon-clear',plain:true" onClick="clear_sig_item()">{$Think.lang.CLEAR}</a>
            </td>
            <td style="text-align:right;padding-right:2px">
                <input type="text" id="searchName" name="searchName" class="easyui-textbox input_length" data-options="validType:['nospace','eSymbols'],tipPosition:'left',onChange:freshItem_sig,buttonIcon:'panel-tool-close',onClickButton:clearSearch"/>
                <a href="###" onClick="search_sig_data()" class="easyui-linkbutton" iconCls="icon-search">{$Think.lang.QUERY}</a>
            </td>
        </tr>
    </table>
</div>
<script>
    var sig_tag;
    var grtag = 1;
    var param = [];

    $(function() {
        $('#tt').datagrid({
            fit: true,
            fitColumns: true,
            striped: true,
            nowrap: true,
            border: false,
            remoteSort: false,
            sortName: 'name',
            sortOrder: 'asc',
            url: '?s=Home/Resource/Time&mod=schedule&parKey=type&param=single',
            frozenColumns: [[
                    {field: 'ck', checkbox: true}
                ]],
            columns: [[
                    {field: 'name', title: $LANG.NAME, width: 250, sortable: true},
                    {field: 'start', title: $LANG.START_TIME, width: 400},
                    {field: 'stop', title: $LANG.END_TIME, width: 300},
                    {field: 'shared', title: $LANG.SHARE, width: 200,
                        formatter: function(value, rowData) {
                            if (rowData.shared == "on")
                                return $LANG.YES;
                            else
                                return $LANG.NO;
                        }
                    }
                ]],
            checkOnSelect: true,
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            rownumbers: true,
            loadMsg: $LANG.WAITING,
            toolbar: "#dlg-toolbar",
            onCheck: setTimeToolBar,
            onUncheck: setTimeToolBar,
            onClickRow: setTimeToolBar,
            onCheckAll: setTimeToolBar,
            onUncheckAll: setTimeToolBar,
            onSelect: setTimeToolBar,
            onUnselect: setTimeToolBar,
            onDblClickRow: function(rowindex, rowData) {
                if(!isShared() || (isShared() && rowData.shared != "on")){
                    edit_sigle_time(rowData.name, rowData.start, rowData.stop, rowData.shared, $LANG.EDIT);
                }
            },
            onLoadSuccess: function(data) {
                $('#tt').datagrid('fixRownumber');
                $('#icon_edit').linkbutton('disable');
                $('#icon_del').linkbutton('disable');
            }
        });
        if (getPrivilege("define") == false) {
            $('#icon_add').linkbutton('disable');
            $('#icon_clear').linkbutton('disable');
        }
    });
</script>
</div>
</div>
</body>
</html>