<include file='Index:main'/>
<script src="./Public/modules/system/journal.js" type="text/javascript"></script>
<div  id="center" class="main-center easyui-layout">
<div data-options="region:'north',border:false" style="height: 35px">
	<div id="t" class="easyui-tabs">   
        <div title="{$Think.lang.CONN}"></div>   
        <div title="{$Think.lang.AC}"></div> 
        <div title="{$Think.lang.SECURE}"></div> 
        <div title="{$Think.lang.DPI}"></div> 
        <div title="{$Think.lang.VPN}"></div> 
        <div title="{$Think.lang.PORTFLOW}" ></div> 
        <div title="{$Think.lang.USER_AUTH}" ></div> 
        <div title="{$Think.lang.IPS}"></div> 
        <div title="{$Think.lang.AI}"></div>
        <div title="{$Think.lang.IDS}"></div>
        <div title="{$Think.lang.DDOS_INSPECC}"></div>
        <div title="{$Think.lang.DDOS_CLEAN}"></div>
        <div title="{$Think.lang.ANTI_VIRUS}"></div>
        <div title="{$Think.lang.URL_FILTER}"></div>
        <div title="{$Think.lang.DATA_FILTER}"></div>
        <div title="{$Think.lang.FILE_BLOCK}"></div>
        <div title="{$Think.lang.AUDIT}"></div>
        <div title="{$Think.lang.ASSE}"></div>
    </div>
</div>
<div data-options="region:'center',border:false">
	<table id="tt"></table>	
</div>
<!-- 菜单栏-->
<div id="tb" style="height: auto">
    <div>
        <a href="###" class="easyui-linkbutton" iconCls="icon-clear" plain="true" onClick="deleteall();">{$Think.lang.CLEAR}"</a>
        <a href="###" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="superQuery()">{$Think.lang.QUERY}"</a>
    </div>
</div>
<div id="log_search" style="width: 400px; display: none"></div>
<script>
    $(function() {
        $('#t').tabs({    
            selected:12,
            onSelect:function(title) {   
                if(title !=$LANG.ANTI_VIRUS) {
                    policy_table(title);
                }
            }    
        });  
        $('#tt').datagrid({
            nowrap: false,
            fitColumns:true,
            striped: true,
            showFooter:false,
            collapsible:true,
            url:'?c=System/Journal&a=JournalJsondata&table=anti_virus_table',
            queryParams:{
                from:"1",
                to:"2048"
            },
            fit:true,
            border:false,
            remoteSort: false,
            columns:[[
                {field:'info',title:$LANG.LOG_CONTENT,align:'left',resizable:true,width:200,editor:'text',
                    formatter:function(value,rowData,rowIndex){
                           if(rowData.msg != "" && rowData.msg !=null){
                            var str = rowData.msg;
                            return str.replace(/,/ig,' ');
                        }else{
                            return value;
                        }
                    }
                }
            ]],
            pagination:true,
            rownumbers:true,
            pageSize:20,
            pageList:[20,100,1000,2000],
            loadMsg:$LANG.WAITING,
            toolbar:'#tb',
            checkOnSelect:true,
            selectOnCheck:true,
            //onBeforeLoad:checkTimeOut($retArray['type'],"$retArray['info']")
        });
    });
</script>
</div>
</body>
</html>